[Unit]
Description=PiBox Autostart
Wants=network.target

[Service]
ExecStart=/bin/bash autostart.sh
WorkingDirectory=/home/pi/pibox
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target