[Unit]
Description=PiBox Autostart

[Service]
ExecStart=/bin/bash autostart.sh
WorkingDirectory=/home/pi/pibox/setup
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target