[Unit]
Description=PiBox Autostart
After=network.target

[Service]
ExecStart=/bin/bash autostart.sh > ../../pibox.log
WorkingDirectory=/home/pi/pibox/setup
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target